@charset "utf-8";
*{
    margin: 0; padding: 0;
}
img {
   border: none;
}
body {
     font-family: PT sans, sans-serif;
}
.karkas {
    background: #eadbc0;
}
.header_main {
    background: #e1c19e; /* Old browsers */
    background: -moz-linear-gradient(top,  #e1c19e 0%, #e3c6a5 13%, #e8d6bb 37%, #ebdcc2 49%, #ebdcc2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1c19e), color-stop(13%,#e3c6a5),
    color-stop(37%,#e8d6bb), color-stop(49%,#ebdcc2), color-stop(100%,#ebdcc2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e1c19e 0%,#e3c6a5 13%,#e8d6bb 37%,#ebdcc2 49%,#ebdcc2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e1c19e 0%,#e3c6a5 13%,#e8d6bb 37%,#ebdcc2 49%,#ebdcc2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e1c19e 0%,#e3c6a5 13%,#e8d6bb 37%,#ebdcc2 49%,#ebdcc2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e1c19e 0%,#e3c6a5 13%,#e8d6bb 37%,#ebdcc2 49%,#ebdcc2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1c19e', endColorstr='#ebdcc2',GradientType=0 ); /* IE6-8 */
}
.header_top {
   max-width: 1200px; margin: 0 auto; padding-top: 0.8%;
}
.header_right{
   float: left; margin-left: 10%;
}
.logo_top_left img {
    float: left; margin: 0 0 0.5% 6%;
}
.menu_top li {
    float: left; list-style: none;
}
.menu_top li a{
    font: normal 12px PT Sans, sans-serif; color: #6c5832; text-decoration: none; padding-top: 105px;
}
.menu_top li a:hover{
    color: #6c4600; text-decoration: underline;
}
.men_head_1{
    background: url(../images/menu_top_img2.png) top left no-repeat; width: 145px; display: inline-block;
}
a.men_head_1 {
    padding-top: 85px !important;
}
    a.men_head_1:hover{
        background: url(../images/menu_top_img2Active.png) top left no-repeat;
    }
.men_head_2 {
    background: url(../images/menu_top_img1.png) top left no-repeat; width: 169px; display: inline-block; margin-top: 25%;
}
    a.men_head_2:hover{
        background: url(../images/menu_top_img1Active.png) top left no-repeat;
    }

.men_head_3{
    background: url(../images/menu_top_img3.png) top left no-repeat; width: 130px; display: inline-block; margin-top: 80px;
}
    a.men_head_3:hover{
        background: url(../images/menu_top_img3Active.png) top left no-repeat;
    }
.men_head_4{
   background: url(../images/menu_top_img4.png) top left no-repeat; width: 130px; display: inline-block; margin-top: 102px;
    padding-left: 10px;
}
    a.men_head_4:hover{
        background: url(../images/menu_top_img4Active.png) top left no-repeat;
    }
.men_head_5{
   background: url(../images/menu_top_img5.png) top left no-repeat; width: 132px; display: inline-block; margin-top: 145px; 
}
    a.men_head_5:hover{
        background: url(../images/menu_top_img5Active.png) top left no-repeat;
    }
.header_bottom {
    background: url(../images/menu_navBg.jpg) top repeat-x; border-radius: 5px; width: 100%; overflow: hidden;
    height: 62px; margin-bottom: 1.5%;
}
.menu_nav{
     margin: 0 auto; max-width: 1200px; list-style: outside none;
}
.menu_nav li {
     float: left; height: 60px; text-align: center; 
}
.menu_nav li a{
    display: block; font: normal 18px PT sans, sans-serif; color: #ffffff; text-decoration: none;
    padding: 18px 30px 0 30px; height: 45px;
    text-shadow: 0 1px 2px rgba(50,27,5,0.9);
    background: url(../images/menu_navBg_razdelitel.png) right no-repeat;
}
.menu_nav_first{
   background: url(../images/menu_navBg_razdelitel.png) left no-repeat; 
}
.menu_nav li a:hover{
    box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
    background: rgb(186,108,48);
    background: -moz-radial-gradient(center, ellipse cover, rgba(186,108,48,1) 38%, rgba(149,82,27,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(38%,rgba(186,108,48,1)), color-stop(100%,rgba(149,82,27,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(186,108,48,1) 38%,rgba(149,82,27,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(186,108,48,1) 38%,rgba(149,82,27,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(186,108,48,1) 38%,rgba(149,82,27,1) 100%);
    background: radial-gradient(ellipse at center, rgba(186,108,48,1) 38%,rgba(149,82,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba6c30', endColorstr='#95521b',GradientType=1 );
}
.content_main{
    max-width: 1200px; margin: 0 auto;
}
.side_bar{
    float: left; margin-right: 1.75%; width: 25%;
}
.categories{
    background: #f5ecdc; border: 2px solid #d4b08d; width: 100%; padding-bottom: 5%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.categories h3{
    border-bottom: 2px solid #d1a87f; text-align: center; padding: 3% 0; font: normal 22px PT Sans, sans-serif;
    color: #9d551b; letter-spacing: 0.2ex ;
    text-shadow: 1px 1px 0 rgba(89,51,20,0.90);
}
.cat_name li {
    list-style: none; border-bottom: 1px solid #d1a87f;
}
.cat_name li a {
    text-decoration: none; font: normal 17px PT Sans, sans-serif; color: #94623d; display: block; padding: 7px 5px 7px 10px; 
    text-shadow: 1px 1px 0 rgba(219,204,176,0.8); letter-spacing: 0.1ex;
}
.cat_name li a span{
    font-size: 12px;
}
.cat_name li a:hover {
    background: rgb(222,137,72);
    background: -moz-linear-gradient(top,  rgba(222,137,72,1) 0%, rgba(227,188,147,1) 43%, rgba(227,188,147,1) 62%,
    rgba(222,137,72,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,137,72,1)),
    color-stop(43%,rgba(227,188,147,1)), color-stop(62%,rgba(227,188,147,1)), color-stop(100%,rgba(222,137,72,1)));
    background: -webkit-linear-gradient(top,  rgba(222,137,72,1) 0%,rgba(227,188,147,1) 43%,rgba(227,188,147,1) 62%,rgba(222,137,72,1) 100%);
    background: -o-linear-gradient(top,  rgba(222,137,72,1) 0%,rgba(227,188,147,1) 43%,rgba(227,188,147,1) 62%,rgba(222,137,72,1) 100%);
    background: -ms-linear-gradient(top,  rgba(222,137,72,1) 0%,rgba(227,188,147,1) 43%,rgba(227,188,147,1) 62%,rgba(222,137,72,1) 100%);
    background: linear-gradient(to bottom,  rgba(222,137,72,1) 0%,rgba(227,188,147,1) 43%,rgba(227,188,147,1) 62%,rgba(222,137,72,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de8948', endColorstr='#de8948',GradientType=0 );
}
.content{
    overflow: hidden; background: #f5ecdc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.popular{
    float: left; background: #f5ecdc; width: 70%; overflow: hidden;
}
.content h3{
    text-align: center; color: #9d551b; font: normal 18px PT sans, sans-serif; letter-spacing: 0.1ex;  text-shadow: 1px 1px 1px rgba(110, 51, 3, 0.5);
    margin: 15px auto 5% auto;
}
.block_popular{
    margin: 0 auto 9% auto; max-width: 95%; overflow: hidden;
}
.block_popular_img{
     float: left;
     border-radius: 10px 0 0 10px;
     -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
}

.popular_shadow {
   width: 100%; float: left; margin: 0;
}
.content_popular{
    background-color: #eedac7; display: inline-block; float: left; width: 100%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
 
}
.content_popular h4{
    text-align: center; overflow: hidden; margin-top: 1%;
}
.content_popular h4 a{
    font: bold 18px PT sans, sans-serif; color: #676258; text-decoration: none; text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}
.content_popular h4 a:hover{
    text-decoration: underline; color: #743800;
}
.content_popular p{
    color: #615c51; font: normal 14px PT sans, sans-serif;  text-shadow: 1px 1px 0 rgba(255,255,255,0.5); margin: 1% auto 2% auto; overflow: hidden; 
    padding: 0 20px;
}
.popular_button{
    background: url(../images/popular_button_1.png) no-repeat;  font: normal 14px PT sans, sans-serif; color: #7a5734; text-decoration: none;
    display: block; height: 33px; padding: 4% 0 0 0; text-align: center; width: 90px;
    
}
.popular_button_div{
    background: url(../images/popular_button_shadow.png) no-repeat; width: 110px; height: 55px; float: left; margin: 2% 0 0 20%;
}
.popular_button:hover{
    background: url(../images/popular_buttonActive.png) no-repeat; color: #f5eee7;
}
.new_receptions{
    background: #faf3e7; padding-bottom: 10%; width: 30%; float: left;
}
.recept_img{
    border: 3px solid #CEB092; height: 130px; width: 133px; margin: 0 auto;
    border-radius: 50%;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;   
}
.recept_img img{
    height: 130px; width: 133px; 
    border-radius: 50%;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;   
}
.recept_img:hover{
    border: 3px solid #A54500;
}
.block_recept {
    margin-bottom: 10%; display: inline-block; padding: 0 4%;
}

.block_recept h3{
    color: #514a42; font: bold 14px PT sans, sans-serif; margin: 5px 0; text-shadow: 1px 1px 0 rgba(255,255,255, 0.8); text-align: center;
}
.block_recept p {
    font: normal 12px PT sans, sans-serif; color: #525252; margin: 3% auto; text-shadow: 1px 1px 0 rgba(255,255,255, 0.8); text-align: center;
}
.read_more{
    color: #c40505; font: bold 12px PT sans, sans-serif; float: right; text-decoration: none; margin: 1% 4% 0 auto; letter-spacing: 0.1ex;
}
.read_more:hover{
    text-decoration: underline; color: #dd0000;
}
.search {
    background: #f5ecdc; margin-top: 10%;
    border: 2px solid #d6b392;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    
}
.search img {
    float: right; margin: 5px 8% 0 0;
}
.search h3 {
    border-bottom: 2px solid #d1a87f; color: #9d551b; font:normal 16px PT Sans,sans-serif; letter-spacing: 0.1ex; padding: 2% 0; 
    text-shadow: 1px 1px 0 rgba(89, 51, 20, 0.9); text-align: center;
}
.search p {
    color: #a36e46; font: normal 12px PT sans, sans-serif; float: left; text-shadow: 1px 1px 0 rgba(241,220,204, 0.8); letter-spacing: 0.1ex; margin: 5% 0 1% 7%;
}
.search input[type="text"] {
    border: 1px solid #d4b08d;  height: 30px; margin: 0 5%; background-color: #f8f3eb; width: 90%; padding: 0 1%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.search input[type="button"] {
    background: url(../images/search_btn.png) center no-repeat; width: 63px; height: 31px; margin: 4% 0; color: #7a5734; font: normal 14px PT sans, sans-serif;
    padding-bottom: 1%; letter-spacing: 0.1ex;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
}
.search input[type="button"]:hover{
    background: url(../images/search_btnActive.png) center no-repeat; color: #3c2004;
}
.search form{
    text-align: center;
}
.autorization{
    background: url(../images/autorization_bg.png) center no-repeat; margin-top: 3.50%; height: 350px; padding-top: 10%;
}
.autorization h2 {
    background: url(../images/autorization_h3_bg.png)center no-repeat; text-align: center; margin-top: 2%; color: #9d551b; height: 30px; 
    font: normal 22px Myriad Pro, Helvetica, Arial, sans-serif; text-shadow: 1px 1px 0 rgba(82,41,11,0.9); letter-spacing: 0.1ex; padding-top: 1%;
}
.login, .password {
    background: #a05a2c; box-shadow: inset 0 0 5px 3px rgba(81,35,5, 0.7); height: 30px; color: #ffefe4; font: bold 12px PT sans, sans-serif;
    margin: 5% auto; border:none; width: 80%; padding-left: 2%; text-shadow: 1px 1px 0 rgba(46, 21, 0, 0.9); letter-spacing: 0.1ex;
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.autorization form {
    text-align: center; color: #ffefe4;
}
.autorization input[type="submit"] {
    background: url(../images/login_button.png) no-repeat; border: none; height: 40px; width: 111px; margin: 5.5% auto 4% auto; color: #834410; 
    font: bold 18px PT sans, sans-serif; letter-spacing: 0.2ex; padding-bottom: 2%; text-shadow: 1px 1px 0 rgba(255,232,213,1);
    border-radius: 5px;
}
.autorization input[type="submit"]:hover {
    background: url(../images/login_buttonActive.png) no-repeat; box-shadow: 0 0 6px 4px rgba(61,16,0, 0.5); text-shadow: none;
}
.background_buttton, .back_butt_a{
    background: #8b471a; border-radius: 5px; box-shadow: inset 0 0 4px 2px rgba(61,16,0, 0.8);  margin: 0 auto;
}
.background_buttton{
    width: 125px;
}
.back_butt_a {
    text-shadow: 1px 1px 0 rgba(255,232,213,0.5); padding: 1%; width: 165px; margin: 4% auto 0 auto;
}
.register{
    background: url(../images/registration_button.png) no-repeat; border-radius: 5px; color: #834410; width: 160px; height: 26px; margin: 1% auto;
    display: block; text-align: center; text-decoration: none; padding: 3px 0 0 0;
    font: bold 15px PT Sans, sans-serif;  letter-spacing: 0.1ex;
}
a.register:hover{
    background: url(../images/registration_buttonActive.png) no-repeat; box-shadow: 0 0 6px 4px rgba(61,16,0, 0.5); text-shadow: none;
    height: 26px;
}
.footer{
    background-color: #d3ad85; margin-top: 5%; overflow: hidden; padding-bottom: 2%; width: 100%;
}
.text_footer {
    margin-right: 5%;
}
.img_footer {
    float: left; margin: 1% auto;
}
.footer_main {
    max-width: 1200px; margin: 0 auto;
}
.autor_text {
    float: left; margin: 3% 0 0 5%; color: #fff3dc; font: normal 14px PT Sans, sans-serif; text-shadow: 1px 1px 1px rgba(137,94,39,1);
}
.development {
    float: right; margin-top: 10%; color: #844D16;  font: bold 14px PT Sans, sans-serif; text-shadow: 1px 1px 0 rgba(241,234,220,0.4);
}
.development span {
    color: #602f07;
}
.footer_img_logo {
    text-align: center; margin-top: 5%;
}

                                            /*------------CATEGORIES-------------*/
                                            
#krohi {
    color: #988564; font: normal 14px PT Sans, sans-serif; margin: 1% 0 2% 1%;
}
#krohi a {
   text-decoration: none; color: #988564;
}
#krohi a:hover{
    text-decoration: underline;
}
#krohi span {
    color: #944d13; text-decoration: underline;
}
#block_category {
    padding: 0 3%; height: 100%;
}
#category_left, #category_right {
    margin: 0 auto 3% auto;
}                                              
#cat_img_left, #cat_img_right {
    height: 190px; width: 190px;
    border: 6px solid #CB9D71; 
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
#cat_img_left {
   float: left; 
}
#cat_img_left img, #cat_img_right img {
    height: 190px; width: 190px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
#cat_content_left, #cat_content_right {
    background: #edd7c3; overflow: hidden; height: 200px;
}
#cat_content_left {
   border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}
#cat_content_right {
    border-top-left-radius: 10px; border-bottom-left-radius: 10px;
}
.cat_border_left {
    float: left; margin-left: -5%;
}
#cat_img_right {
    float: right;
}
.cat_border_right {
    float: right; margin-right: -5%;
}
#cat_content_left h3, #cat_content_right h3 {
    margin: 1% 0 0 0;
}
#cat_content_left h3 a, #cat_content_right h3 a{
   text-decoration: none; color: #713e14; font: bold italic 18px PT Sans, sans-serif; text-shadow: 1px 1px 0 rgba(255,242,230,0.7); 
}
#cat_content_right h3 a:hover{
    text-decoration: underline;
}
#cat_content_left h3 a:hover{
    text-decoration: underline;
}
#cat_content_left p, #cat_content_right p{
    color: #7A3D0E; font: italic 14px PT Sans, sans-serif; text-shadow: 1px 1px 0 rgba(255,233,214,0.5);
    margin: 1% auto 2% auto;
}
#cat_content_left p {
    padding: 0 3%;
}
#cat_content_right p {
    padding-left: 3%;
}
.button_category  {
    background: url(../images/category_block_button.png) no-repeat; border: none; height: 32px; width: 136px; display: block;
    margin: 0 auto; color: #9a4b00; font: normal 14px PT Sans, sans-serif; text-shadow: 1px 1px 0 rgba(244,228,200,0.6);
    text-decoration: none; text-align: center; padding-top: 6px;
}
.button_category:hover{
    background: url(../images/category_block_buttonActive.png) no-repeat;
}
#pagination {
    margin: 0 0 3% 35%; overflow: hidden;
}
#pagination li {
    float: left; list-style: none; margin: 0 5px; border-radius: 3px;
}
#pagination a {
    background: #D5A36C; border-radius: 3px; display: block; padding: 0 6px 1px 5px; color: #602f07; font: normal 14px PT Sans, sans-serif;
    text-decoration: none;
}
#pagination a:hover{
    text-decoration: underline; background: #F4831F; color: #381800;
}

                                            /*------------REGISTRATION-------------*/

#registration {
    background: url(../images/registration_bg.jpg) no-repeat; border-radius: 10px; padding: 10% 0 30% 0;
}
#block_reg {
    width: 55%; background: #f5ecdc; box-shadow: inset 0 0 15px 2px rgba(124,40,3,0.7);
    border-radius: 10px; margin: 0 auto;
}
#block_reg h3 {
    color: #9d551b; font: bold 24px PT Sans, sans-serif; text-shadow: 1px 1px 0 rgba(116,56,8,1); padding: 8% 0 5% 0;
}
#block_reg form {
    text-align: center;
}
#table_reg {
   width: 90%; margin-left: 8%;
}
#table_reg td {
    padding-bottom: 15%;
}
#table_reg td input[type="text"] {
    height: 30px; width: 70%; border-radius: 5px; border: none; float: left; padding-left: 5px;
    color: #b45b1c; font: italic 15px PT Sans, sans-serif; letter-spacing: 0.1ex;
}
#table_reg td img {
    margin-left: 35%; vertical-align: middle;
}
#inpreg {
    background: url(../images/inpreg_bg.png) no-repeat; border: none; height: 38px; width: 151px; color: #9b520c; 
    font: normal 14px PT Sans, sans-serif; text-shadow: 1px 1px 0 rgba(240,232,218,0.7); 
    letter-spacing: 0.1ex; padding-bottom: 1.50%; margin: auto auto 15% auto;
}
#inpreg:hover {
    background: url(../images/inpreg_bgActive.png) no-repeat; color: #A84114; text-shadow: 1px 1px 0 rgba(240,232,218,0.3);
}

                            /*-------------VIEW DETAILED------------------*/
#view_detailed {
    padding: 0 5% 2% 5%;
}
#view_detailed h2 {
    color: #754218; font: bold 24px PT Sans, sans-serif; text-shadow: 1px 1px 0 rgba(255, 242, 230, 0.9);
    text-align: center; margin-bottom: 2%;
}
#view_detailed p {
    color: #754218; font: normal 16px PT Sans, sans-serif; text-shadow: 1px 1px 0 rgba(255, 242, 230, 0.6);
    text-indent: 1%; margin: 0.50% auto;
}
#view_detailed ul li {
    color: #754218; font: normal 16px PT Sans, sans-serif; text-shadow: 1px 1px 0 rgba(255, 242, 230, 0.6); 
    list-style: none;
}
.button_detaili {
    background: url(../images/category_block_button.png) no-repeat; border: none; height: 32px; width: 101px; display: block;
    margin: 3% auto 0 auto; color: #9a4b00; font: normal 14px PT Sans, sans-serif; text-shadow: 1px 1px 0 rgba(244,228,200,0.5);
    text-decoration: none; text-align: center; padding-top: 6px; letter-spacing: 0.1ex;
}
.button_detaili:hover{
    background: url(../images/category_block_buttonActive.png) no-repeat; color: #723700; text-shadow: 1px 1px 0 rgba(244,228,200,0.7);
}

 								/*-------------SITEMAP------------------*/
								
#sitemap {
	margin-bottom:2%;
}
#sitemap h2 {
	color: #9d551b; font: bold 22px PT Sans,sans-serif; letter-spacing: 0.2ex; text-align: center;
    text-shadow: 1px 1px 0 rgba(255,245,229,1); margin-top:1%;
}
#sitemap h3 {
	margin:0 0 0 1.50%; padding:0; text-align:left;
}
#sitemap h3 a{
	color: #6c5832; text-decoration:none; letter-spacing:0.1ex; text-shadow: 1px 1px 0 rgba(255, 242, 230, 0.6); font-size:18px;
}
#sitemap h3 a:hover {
	text-decoration:underline;
}
#sitemap ul li {
	list-style:none;
}
#name_category {
	margin-left:4%;
}
#name_category li {
	 font-size:16px;	
}
#name_recipe {
	margin-left:8%;
}
#name_recipe li {
	font-size:15px;
}
#sitemap ul li a{
	color: #6c5832; text-decoration:none; text-shadow: 1px 1px 0 rgba(255, 242, 230, 0.5);
}
#sitemap ul li a:hover {text-decoration:underline;
}

                            /*-------------PAGES------------------*/
 
#pages {
    padding: 0.5% 4% 4% 4%;
}
                           
#pages h2 {
    color: #9d551b; font: bold 20px PT Sans,sans-serif; letter-spacing: 0.2ex; text-align: center;
    margin-top:1%; text-shadow: 1px 1px 0 rgba(255,245,229,1);
}
#pages p{
    color: #754218; font: 16px PT Sans,sans-serif; margin: 1% auto; text-indent: 1%;
    text-shadow: 1px 1px 0 rgba(255, 242, 230, 0.6);
}


                            /*-----------------------------------------MEDIA---------------------------------------------*/

@media only screen and (max-width:1024px) {
    .content_popular h4 a {
        font-size:16px;
    }
    .logo_top_left img {
        margin: 0 auto;
    }
    .header_right {
        float: right;
    }
    .content_popular p {
        font-size: 13px;
    }
    .cat_name li a {
        font-size: 15px;
    }
    .footer_img_logo_bottom {
        margin-left: 0.50%;
    }
    #view_detailed h2 {
        font-size: 20px;
    }
    #view_detailed p {
        font-size: 14px;
    }
    #view_detailed ul li {
        font-size: 14px;
    }
}

@media only screen and (max-width:769px){
    .header_right{
        display:none;
    }
    .logo_top_left img {
        float: none; margin: 0 auto;
    }
    .header_top{
        text-align: center;
    }
    .content_popular h4 a {
        font-size:16px;
    }
    .content_popular p {
        font-size: 13px;
    }
    .cat_name li a {
        font-size: 15px;
    }
    .side_bar {
        float: none; min-width: 300px; margin: 0 auto;
    }
    .autorization {
        max-width: 275px;
    }
    .img_footer {
        float: none; min-width: 300px; text-align: center;
    }
    .footer_img_logo_bottom {
        display: none;
    }
    .footer_img_logo {
        margin-top: 0;
    }
    .autor_text, .development {
        float: none; margin: 0; text-align: center;
    }
    .autor_text {
        margin-bottom: 2%;
    }
    /*------------REGISTRATION-------------*/
    #table_reg td input[type="text"] {
        font-size: 13px;
    }
}
@media only screen and (max-width:640px) {
    .popular, .new_receptions {
        float:none; width: auto; border-radius: 10px;
    }
    /*------------CATEGORIES-------------*/
    #cat_content_left h3 a, #cat_content_right h3 a {
        font-size: 15px;
    }
    #cat_content_left p, #cat_content_right p {
        font-size: 13px;
    }
    /*------------REGISTRATION-------------*/
    #table_reg td img {
        margin: 0;
    }
    #table_reg td input[type="text"] {
        letter-spacing: normal;
    }
}
@media only screen and (min-width:241px) and (max-width:480px) {
    .block_popular img.block_popular_img {
        border-radius: 5px; float: none; max-width: 40%; max-height: 40%; margin-top: 3%;
        
    }
    .popular_button_div {
        float: none; margin-left: 30%;
    }
    .block_popular {
        height: auto; text-align: center;
    }
    .content_popular p {
        margin-bottom: 5%;
    }
    .menu_nav li {
        float: none; background: url(../images/menu_navBg.jpg) repeat-x; width: auto;
    }
    .header_bottom {
        background: none; height: auto;
    }
    .menu_nav li a{
        font-size: 14px; background: none;
    }
    .menu_nav_first {
        
    }
    /*------------CATEGORIES-------------*/
   .cat_border_left, .cat_border_right {
        display: none;
   }
   #cat_img_left, #cat_img_right {
    float: none; margin: 0 auto 2% auto; 
   }
   #cat_content_left, #cat_content_right {
    border-radius: 5px; margin-bottom: 4%;
   }
   #pagination {
    margin: 0 0 3% 2%;
   }
   #cat_content_left p, #cat_content_right p {
    padding: 0 1%; margin: 1% 0;
   }
   /*------------REGISTRATION-------------*/
   #table_reg td img {
    width: 50%; height: auto;
   }
   #table_reg td input[type="text"] {
        font-size: 11px; width: 90%; padding-left: 0.50%;
    }
    #block_reg {
        width: 80%;
    }
    #krohi {
        font-size: 12px;
    }
    #view_detailed img {
        width: 70%; height: auto;
    }
}



                                                /*-------------OTHER CLASSES--------------*/


.content #no_text_recipe {
    text-align: center; margin-top: 2%; color: #9d551b; font: bold 17px PT Sans,sans-serif;
    letter-spacing: 0.1ex;
}
                                                    /* ------------RECIPES PAGE------------- */


























